audio {
    display: none;
}

button {
    font-size: 16px;
    color: #eee;
    position: absolute;
    /* transform: translate(-50%, -50%);  */
    width: 40px;
    padding: 10px;
    border: none;
    border-radius: 2px;
    outline: none;
    background: rgba(176, 223, 255, 0.8);
    box-shadow: 0px 0px 6px rgba(140, 140, 140, 0.4);
    opacity: 0.8;
    cursor: pointer;
  }
  
  button.fade:hover {
    opacity: 0.8;
  }
  
  .fade {
    opacity: 0.2;
    top: 0;
    left: 0;
    /* transform: translate(0, 0); */
  }
  