@font-face {
    font-family: PressStart;
    src: url("../fonts/PressStart2P-Regular.ttf");
}

html, body {
    height: 100%;
    overflow: hidden;
}

body {
    background-image: url("../assets/background.png");
    background-position: center center;
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
}

.page-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.page-title {
    margin-bottom: auto;
    width: 20%;
}

.page-title img {
    padding-top: 10px;
    width: 100%;
}

.page-content {
    margin-top: auto;
    margin-bottom: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
}

.btn-info {
    color: #b68962 !important;
    background-color: #e8cfa6 !important;
    border: 3px solid #aa7959 !important;
    font-size: 2rem !important;
    font-family: PressStart;
}

.btn-lg {
    margin-top: 40px;
    padding: 5px 16px !important;
    border-radius: 10px !important;
}

.page-notice {
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: 1.6rem;
    font-style: italic;
    color: #fff;
    text-align: center;
}

.download-link {
    width: inherit !important; 
    display: flex;
    flex-direction: column;
}

.download-link a {
    padding-top: 5px;
    width: inherit !important;
    display: flex;
    justify-content: center;
}

.download-link a img{
    width: 20%;
}

#footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background: none;
    opacity: 0.6;
    /* height: 60px;   Height of the footer */
 }

@media only screen and (max-width: 750px) {
    .page-title {
        width: 40%;
    }
    .page-content {
        width: 90%
    }
    .btn-info {
        font-size: 1.5rem !important;
    }
    .download-link a img{
        width: 30%;
    }
    .btn-lg {
        margin-top: 120px;
    }
    .btn-info {
        font-size: 2.5rem !important;
    }
}

@media only screen and (max-width: 400px) {
    .page-title {
        width: 60%;
    }
    .page-content {
        width: 90%
    }
    .btn-info {
        font-size: 2rem !important;
    }
    .page-notice {
        margin-top: 10px;
    }
    .download-link a img{
        width: 40%;
    }
    .btn-lg {
        margin-top: 120px;
    }
}